@model ProductListViewModel

<div class="btn-group">
    <!-- All Categories Button -->
    <a asp-action="Index" asp-route-page="1" asp-route-category="0" class="btn btn-secondary">All Categories</a>

    <a asp-action="SortAtoZ" asp-route-page="@Model.CurrentPage" asp-route-category="@Model.CurrentCategory" class="btn btn-primary">A-Z</a>
    <a asp-action="SortZtoA" asp-route-page="@Model.CurrentPage" asp-route-category="@Model.CurrentCategory" class="btn btn-primary">Z-A</a>
    <a asp-action="SortPriceHighToLow" asp-route-page="@Model.CurrentPage" asp-route-category="@Model.CurrentCategory" class="btn btn-primary">Price High to Low</a>
    <a asp-action="SortPriceLowToHigh" asp-route-page="@Model.CurrentPage" asp-route-category="@Model.CurrentCategory" class="btn btn-primary">Price Low to High</a>
</div>

@if (Model.Products == null || Model.Products.Count == 0)
{
    <span class="alert alert-info">No Product Exist</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>UnitsInStock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.UnitPrice
                    </td>
                    <td>
                        @item.UnitsInStock
                    </td>
                    <td>
                        <a class="btn btn-xs btn-success">Add To Cart</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <product-list-pager current-category="@Model.CurrentCategory"
                        current-page="@Model.CurrentPage"
                        page-count="@Model.PageCount"
                        page-size="@Model.PageSize"></product-list-pager>
}
